{% extends '::base.html.twig' %}

{% block body %}
    {{ dump(data) }}
    {#<ul>
        {% for data_item in data %}
            <li>{{ dump(data_item) }}</li>
        {% endfor %}
    </ul>#}
{% endblock %}
